{% extends '@SyliusShop/layout.html.twig' %}

{% form_theme form '@SyliusShop/Form/theme.html.twig' %}

{% block content %}
    <h1>{{ 'setono_sylius_coupon_url_application.ui.apply_coupon'|trans }}</h1>
    {{ form_start(form, {'method': 'get', 'attr': {'class': 'ui form', 'novalidate': 'novalidate', 'id': form.vars.id}}) }}
        {{ form_row(form.coupon) }}
        <button type="submit" class="ui teal icon labeled button"><i class="ticket icon"></i> {{ 'sylius.ui.apply_coupon'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
